/* En static/css/styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  /* Agrega más estilos según tus necesidades */
  