<!-- En templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu Tienda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="navbar">
        <a href="{% url 'product_list' %}">Productos</a>
        <a href="{% url 'create_product' %}">Agregar Producto</a>
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'edit_product' product.id %}">Editar Producto</a>
        {% endif %}
        <a href="{% url 'register' %}">Registro</a>
        <!-- Agrega más enlaces según sea necesario -->
    </div>
</body>
</html>
