<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    {% load static %}
    <style>
        body {
            background-image: url('{% static "background/SL-1.jpg" %}');
            background-size: cover;
            color: rgb(112, 99, 22);
        }
        .contenido {
            text-align: center;
            padding: 100px;
        }
    </style>
</head>
<body>
    <div id="navbar">
        <a href="{% url 'product_list' %}">Productos</a>
        
        {% if user.is_authenticated and user.is_staff %}
              {% if product.id %}
                  <a href="{% url 'edit_product' product.id %}">Editar Producto</a>
              {% endif %}
          {% endif %}
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Cerrar Sesión</a>
          {% else %}
              <a href="{% url 'login' %}">Iniciar Sesión</a>
              <a href="{% url 'register' %}">Registro</a>
          {% endif %}
    </div>
    <div class="animat">
                   
                
            <h1>Bienvenido a Nuestra Tienda</h1>
            <p>Descubre nuestras ofertas increíbles en vehículos automotrices.</p>

            <svg viewbox="0 0 100 20">
                <defs>
                  <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                    <stop offset="5%" stop-color="#326384"/>
                    <stop offset="95%" stop-color="#123752"/>
                  </linearGradient>
                  <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
                      <animateTransform
                          attributeName="transform"
                          begin="0s"
                          dur="1.5s"
                          type="translate"
                          from="0,0"
                          to="40,0"
                          repeatCount="indefinite" />
                    </path>
                  </pattern>
                </defs>
                <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)"  fill-opacity="0.8">Auto Market </text>
                <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#gradient)" fill-opacity="0.3">Auto Market</text>
              </svg>
              
            
    </div>
</body>
</html>
