<!-- En templates/product_list.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu Tienda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
  <div id="navbar">
      <a href="{% url 'product_list' %}">Productos</a>
            
      {% if user.is_authenticated and user.is_staff %}
            
        <a href="{% url 'create_product' %}">Agregar Producto</a>
        <a href="{% if product.id %}{% url 'edit_product' product.id %}{% endif %}">Editar Producto</a>

      {% endif %}

        <a href="{% url 'logout' %}">Cerrar Sesión</a>      
   
       
  </div>
      

   <!-- En product_list.html -->

   {% block content %}
   <h2 class="title">Lista de Productos</h2>
   <div class="product-list">
     {% for product in products %}
       <div class="product-item">
         <h3>{{ product.name }}</h3>
         <p>{{ product.description }}</p>
         <p>Precio: ${{ product.price }}</p>
         <img src="{{ product.image.url }}" alt="{{ product.name }}">
         <a href="{% url 'product_detail' product_id=product.id %}">Ver Detalles</a>
         <li>
          {{ product.name }} - ${{ product.price }}
          <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
        </li>
        
         {% if user.is_authenticated and user.is_staff %}
           <a href="{% url 'edit_product' product.id %}">Editar Producto</a>
         {% endif %}
       </div>
     {% endfor %}
   </div>
 {% endblock %}

  </body>  

